
body{
    
    background-color: rgba(255,255,255,0.5);
}
button{
    border:none;
    background:white;
    color:black;
    padding: 10px 20px;
    border-radius: 10px;
    border:1px solid blue;
    font-size: 1.2rem;
    margin:0 8px;
    cursor: pointer;
    transition: 300ms all ease-in-out;
}

.active_button{
    background:blue;
    color:white; 
}